# Terraform
.terraform/

*.tfstate
*.tfstate.*

crash.log

override.tf
override.tf.json
*_override.tf
*_override.tf.json

# tfvars
terraform.tfvars
*.auto.tfvars
*.auto.tfvars.json

# macOS
.DS_Store

# VS Code
.vscode/
